<%- include('./includes/scripts.ejs'); %>

<html>
	<head>
		<title><%= title %></title>
	</head>
	<body onload="get_tasks('#task_table'); get_classes('#class_table');">

	<%- include('./includes/menu.ejs'); %>

		<!-- main page container -->
		<div class="container">
			<!-- Page heading -->
			<h1>
				<span class="glyphicon glyphicon-lock pull-right" style="margin-right: 20px;"></span>
				Establishment Password for "<%= estab_info.estab_name %>"
			</h1>
			<hr />

			<!-- Quick links row -->
			<div class="row">

                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="alert alert-info" role="alert">
						Students that want to regsiter with <%= estab_info.estab_name %> will need the following password:
					</div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <center>
                                <h1 class="pass_display"><%= estab_info.estab_pass %></h1>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
			</div>
			<%- include('./includes/footer.ejs'); %>
		</div>

	</body>
</html>
